:root {
    --background: #F6F6F6;
    --blue: #1C1E5F;
    --blue-light: #368eff;
}

/* MARK: KEY CSS */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* MARK: GENERIC CSS */
.page-width {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .page-width {
        width: 80%;
    }
}

.spacer-25 {
    min-height: 25px;
}
.spacer-50 {
    min-height: 50px;
}
.spacer-75 {
    min-height: 75px;
}
.spacer-100 {
    min-height: 100px;
}

/* GLOBAL */
header, footer {
    background: var(--blue);
    font-family: "Josefin Sans", sans-serif !important;
}

header *, footer * {
    font-family: "Josefin Sans", sans-serif !important;
}

.header-content, .header-content sidebar {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media (min-width: 1000px) {
    .burger-menu {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .burger-menu .line {
        transition: 0.3s ease !important;
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 24px;
    justify-content: space-between;
    align-items: flex-end;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-bottom: 40px;
}

.burger-menu .line {
    background: white;
    width: 100%;
    min-height: 3px;
    border-radius: 10px;
    transition: 0.1s ease !important;
}

.burger-menu .line:nth-child(2) {
    width: 65%;
}

.burger-menu:hover .line {
    width: 100% !important;
}

header .item {
    color: white !important;
    text-decoration: none !important;
}

header .item:hover {
    color: var(--blue-light) !important;
}

@media (min-width: 1200px) {
    header .tab-logo {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    header .tab-logo {
        width: 165px;
        min-width: 165px;
        max-width: 165px;
    }
}

@media (max-width: 767px) {
    header .tab-logo {
        width: 125px;
        min-width: 125px;
        max-width: 125px;
        padding: 20px 10px 20px 10px;
    }
    header .logo {
        max-height: 100px !important;
        padding: 0 !important;
        min-width: 65px !important;
        height: 100px !important;
        min-height: 100px !important;
        max-width: 65px !important;
        width: 65px !important;
        margin-bottom: 20px;
    }
    .burger-menu {
        margin-bottom: 25px;
    }
    header {
        height: 100px !important;
        max-height: 100px !important;
    }
}

@media (max-width: 400px) {
    header .tab-logo {
        padding: 10px !important;
        border-radius: 20px !important;
        width: 100px !important;
        min-width: 100px !important;
        max-width: 100px !important;
    }

    header * {
        margin-bottom: 0 !important;
    }

    .header-content, .header-content sidebar {
        gap: 0 !important;
        justify-content: space-between;
    }

    header .logo {
        width: 50px !important;
        min-width: 50px !important;
        max-width: 50px !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header sidebar {
        width: 100px !important;
        max-width: 100px !important;
        min-width: 100px !important;
    }
}

header .tab-logo {
    display: block;
    background: white;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 5px 12px #3f3f3f;
    border-radius: 0 0 20px 20px;
    position: relative;
    z-index: 10;
}

@media (max-width: 1200px) and (min-width: 767px) {
    header {
        height: 130px !important;
        max-height: 130px !important;
    }
}

@media (max-width: 1000px) {
    header:has(.shownav:checked) nav{
        right: 0 !important;
    }
    header nav {
        position: fixed;
        right: -110vw;
        max-width: 300px;
        width: 80% !important;
        height: 100vh;
        flex-direction: column;
        background: #2e2e63;
        align-items: center;
        padding: 50px 20px;
        top: 0;
        justify-content: flex-start !important;
        box-shadow: -4px -1px 20px #252525;
        transition: 0.3s ease;
    }
}

header {
    height: 150px;
    max-height: 150px;
    box-shadow: 0px 5px 12px #777777;
}

header nav {
    padding-bottom: 25px;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

header .logo {
    width: 80px;
    padding-bottom: 25px;
    min-width: 80px;
    max-width: 80px;
}

header sidebar {
    width: 100%;
}

footer {
    padding: 100px 0;
    margin-top: 50px;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-content .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-content * {
    color: white !important;
    font-size: 16px !important;
    margin: 0 !important;
}

.footer-content .column .item {
    text-decoration: none !important;
}

.footer-content .column .item:hover {
    color: var(--blue-light) !important;
}

.footer-content .column .heading {
    font-size: 18px !important;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

footer .rafac {
    padding: 10px;
    background: white;
    box-shadow: 0px 5px 12px #3f3f3f;
    border-radius: 20px;
}

.footer-content .column.split-logos {
    gap: 50px;
}

footer .crest {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.footer-content p.address {
    line-height: 20px;
}

@media (max-width: 1200px) and (min-width: 1000px) {
    footer .rafac {
        width: 125px;
    }
}

@media (max-width: 1000px) {
    .footer-content {
        flex-direction: column;
        gap: 50px;
    }
    footer {
        padding: 20px 0;
    }
}

.copyright {
    background: #001731;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.image-display img {
    max-width: 100%;
    max-height: 100%;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.banner > img {
    width: 100%;
    filter: brightness(0.5);
}

.banner {
    position: relative;
}

.banner .content {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 10%;
}

.banner .content .text {
    font-size: 4vw;
    max-width: 600px;
    width: 50%;
    color: #fff;
}

.banner .content .crest {
    width: 25%;
    min-width: 150px;
    max-width: 300px;
}

@media (max-width: 767px) {
    .banner .content .crest {
        width: 20%;
        min-width: 0 !important;
    }
    .banner .content .text {
        font-size: 5vw !important;
        width: 75% !important;
    }
}

.split-view {
    display: flex;
    gap: 50px;
}

.floating-image {
    box-shadow: 0 0 20px #A9A9A9;
}