:root {
    --background: #F6F6F6;
    --blue: #1C1E5F;
    --blue-light: #368eff;
}

/* MARK: KEY CSS */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--background);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* MARK: GENERIC CSS */
.page-width {
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .page-width {
        width: 80%;
    }
}

.spacer-25 {
    min-height: 25px;
}
.spacer-50 {
    min-height: 50px;
}
.spacer-75 {
    min-height: 75px;
}
.spacer-100 {
    min-height: 100px;
}

/* GLOBAL */
header, footer {
    background: var(--blue);
    font-family: "Josefin Sans", sans-serif !important;
}

header *, footer * {
    font-family: "Josefin Sans", sans-serif !important;
}

.header-content, .header-content sidebar {
    display: flex;
    align-items: center;
    gap: 50px;
}

@media (min-width: 1000px) {
    .burger-menu {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .burger-menu .line {
        transition: 0.3s ease;
    }
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 24px;
    justify-content: space-between;
    align-items: flex-end;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}

.burger-menu .line {
    background: white;
    width: 100%;
    min-height: 3px;
    border-radius: 10px;
}

.burger-menu .line:nth-child(2) {
    width: 50%;
}

.burger-menu:hover .line {
    width: 100% !important;
}

.burger-menu .line:nth-child(1) {
    width: 90%;
}

.burger-menu .line:nth-child(3) {
    width: 65%;
}

header .item {
    color: white !important;
    text-decoration: none !important;
}

header .item:hover {
    color: var(--blue-light) !important;
}

@media (min-width: 1200px) {
    header .tab-logo {
        width: 200px;
        min-width: 200px;
        max-width: 200px;
    }
}

@media (min-width: 767px) and (max-width: 1200px) {
    header .tab-logo {
        width: 165px;
        min-width: 165px;
        max-width: 165px;
    }
}

header .tab-logo {
    display: block;
    background: white;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 5px 12px #3f3f3f;
    border-radius: 0 0 20px 20px;
}

@media (max-width: 1200px) {
    header {
        height: 130px;
        max-height: 130px;
    }
}

header {
    height: 150px;
    max-height: 150px;
    box-shadow: 0px 5px 12px #777777;
}

header nav {
    padding-bottom: 25px;
    display: flex;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

header .logo {
    width: 80px;
    padding-bottom: 25px;
    min-width: 80px;
    max-width: 80px;
}

header sidebar {
    width: 100%;
}