:root {
    --grey: #C9C9C9;
    --blue: #1C1E5F;
}

/* MARK: KEY CSS */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--grey);
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* MARK: GENERIC CSS */

.page-width {
    width: 80%;
    margin: 0 auto;
}

.spacer-25 {
    min-height: 25px;
}
.spacer-50 {
    min-height: 50px;
}
.spacer-75 {
    min-height: 75px;
}
.spacer-100 {
    min-height: 100px;
}

/* GLOBAL */
header, footer {
    background: var(--blue);
}