---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Page Not Found">
    <div class="page-width">
        <div class="home-content">
            <div class="spacer-100"></div>
            <h1 class="title">THIS PAGE IS CURRENTLY UNDER CONSTRUCTION!</h1>
            <div class="spacer-100"></div>
        </div>
    </div>
</BaseLayout>