---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact Us">
    <div class="page-width">
        <div class="contact-content">
            <div class="split-view">
                <div class="half-width contact-col">
                    <h1 class="title">Conntact Us</h1>
                </div>
                <div class="half-width contact-col">
                    <p class="page-text">
                        Address<br>
                        348 (Ilkeston) Squadron<br>
                        Air Training Corps<br>
                        The Cadet Centre<br>
                        Albert St<br>
                        Ilkeston<br>
                        Derbyshire<br>
                        DE7 5GU
                        <br>
                        <br>
                        What3Words- ///table.smile.yard
                        <br>
                        <br>
                        Parade nights<br>
                        Tuesday 18:45 - 21:30<br>
                        Thursday 18:45 - 21:30
                        <br>
                        <br>
                        Call Us<br>
                        0115 9440848<br>
                        (Parade nights only)
                        <br>
                        <br>
                        Want to join us?<br>
                        If you'd like to become a member, please use our contact form.
                        <br>
                        <br>
                        We are part of South and East Midlands Wing. Find out more at : <a href="http://www.semidsatc.org.uk/" class="link">http://www.semidsatc.org.uk/</a>
                    </p>
                </div>
            </div>
            <div class="spacer-50"></div>
            <h1 class="title">HOW TO FIND US</h1>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.2077992930226!2d-1.3133278230508316!3d52.96983860282766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879ec0c211b5aad%3A0xc88f1d8e5bab04d9!2s348%20(Ilkeston)%20Squadron%20Air%20Training%20Corps!5e1!3m2!1sen!2suk!4v1777485442936!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</BaseLayout>