---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
    <div class="page-width">
        <div class="home-content">
            <div class="spacer-100"></div>
            <div class="spacer-100"></div>
            <div class="spacer-100"></div>
            <h1 style="text-align: center; font-size: 50px; font-weight: 700;">348 Ilkeston Air Cadets</h1>
            <div class="spacer-100"></div>
            <div class="spacer-100"></div>
            <div class="spacer-100"></div>
        </div>
    </div>
</BaseLayout>