---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
    <div class="banner">
        <img src="images/home-banner.jpg" alt="348 Ilkeston Air Cadets">
        <div class="content">
            <h1 class="text">348 (Ilkeston) Squadron, Air Training Corps</h1>
            <div class="crest">
                <img src="images/crest.jpg" alt="Squadron Crest" width="100%">
            </div>
        </div>
    </div>
    <div class="page-width">
        <div class="home-content">
            <div class="spacer-50"></div>
            <h1 class="title">Welcome to 348 (Ilkeston) Squadron, Air Training Corps.</h1>
            <div class="split-view">
                <p class="page-text">
                    We are a military unit that is part of the Royal Air Force Air Cadets.
                    <br><br>
                    Our cadets are aged 12 to 20 and are are given the chance by a team of staff and volunteers to learn to fly, develop skills to lead expeditions, visit foreign countries, become target shooting marksmen and learn about aviation and aerospace. This is only a small list of the many activities and opportunities available all whilst making new friends.
                    <br><br>
                    The squadron is continually searching for high calibre like minded volunteers to keep it at the top of its game as one of the top youth organisations in the United Kingdom.
                    <br><br>
                    348 Squadron is the ideal place to provide every cadet with the opportunity for flight in both a glider and a Tutor aircraft, experience our adventurous activities, and achieve their bronze Duke of Edinburgh's Award.
                    <br><br>
                    We hope you enjoy your time with us and that the training we give will be of use to you in whatever career you choose to do in the future.
                </p>
                <div class="half-width">
                    <img src="images/home-image.jpg" alt="Helicopter Image" width="100%">
                </div>
            </div>
            <div class="spacer-50"></div>
            <div class="image-display space-between">
                <img src="images/home_image_3.jpg" alt="Troops">
                <img src="images/home_image_2.jpg" alt="Plane">
            </div>
            <div class="spacer-50"></div>
            <div class="full-width">
                <img src="images/home_image_1.jpg" alt="Forrest">
            </div>
        </div>
    </div>
</BaseLayout>