---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Join Us">
    <div class="spacer-50"></div>
    <div class="page-width">
        <div class="contact-content">
            <h1 class="title">REGISTER YOUR INTEREST</h1>
            <div class="spacer-50"></div>
            <div class="split-view">
                <div class="half-width joinus-col">
                    <form class="defaultform">
                        <h2 class="subtitle">YOUNG PERSONS DETAILS</h2>
                        <div class="spacer-25"></div>
                        <div class="formcol">
                            <label>Name</label>
                            <input type="text" placeholder="First Name...">
                            <input type="text" placeholder="Surname...">
                        </div>
                        <div class="formcol">
                            <label>Date of Birth</label>
                            <input type="date" placeholder="dd/mm/yyyy">
                            <input type="number" placeholder="Age..." step="1">
                        </div>
                        <div class="formcol">
                            <label>School Year Group</label>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 7</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 8</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 9</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 10</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 11</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 12</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year 13</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Year College/Apprenticeship</label>
                            </div>
                            <div class="checkbox-label">
                                <input type="checkbox">
                                <label>Other</label>
                            </div>
                            <input type="text" placeholder="Please Specify...">
                        </div>
                        <div class="spacer-50"></div>
                        <h2 class="subtitle">PARENT DETAILS</h2>
                        <div class="spacer-25"></div>
                        <div class="formcol">
                            <label>Name</label>
                            <input type="text" placeholder="First Name...">
                            <input type="text" placeholder="Surname...">
                        </div>
                        <div class="formcol">
                            <label>Contact Details</label>
                            <input type="text" placeholder="Email Address..." type="email">
                            <input type="text" placeholder="Phone...">
                        </div>
                        <textarea placeholder="Additional Information..." class="message"></textarea>
                        <input type="submit" value="REGISTER">
                    </form>
                </div>
                <div class="half-width joinus-col">
                    <div class="join-us-images">
                        <div class="image"><img src="https://pitfielddigital.github.io/348-ilkeston-air-cadets/images/register_image_3.jpg" alt="" width="100%"></div>
                        <div class="image"><img src="https://pitfielddigital.github.io/348-ilkeston-air-cadets/images/register_image_2.jpg" alt="" width="100%"></div>
                        <div class="image"><img src="https://pitfielddigital.github.io/348-ilkeston-air-cadets/images/register_image_1.jpg" alt="" width="100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>