---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="What We Do">
    <div class="page-width">
        <div class="what-we-do-content">
            <div class="spacer-100"></div>
            <h1 class="title">WHAT WE DO</h1>
            <div class="spacer-50"></div>
            <p class="page-text">
                Here at Ilkeston, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sodales augue condimentum luctus porta. Morbi in tortor scelerisque, finibus odio efficitur, lobortis ex. Ut nibh tellus, tincidunt a enim nec, lobortis molestie enim. Fusce libero augue, blandit quis enim id, blandit laoreet metus. Fusce consequat mi sit amet tempus sodales. Nam porttitor erat metus, et feugiat purus ullamcorper at. Donec viverra lacus et turpis pulvinar, in venenatis enim posuere.
            </p>
            <div class="spacer-50"></div>
            <div class="what-we-do-layout">
                <div class="item">
                    <div class="image"><img src="https://www.348atc.co.uk/s/cc_images/cache_6562828.JPG?t=1504611822" alt="" width="100%"></div>
                    <p class="page-text">CI Paul Knighton receives his Certificate of Appointment from the Sqn CO. Paul joined the sqn in July 2010, working his way up the ranks achieving the most senior rank, Cadet Warrant Officer in 2016.</p>
                </div>
                <div class="item">
                    <div class="image"><img src="https://www.348atc.co.uk/s/cc_images/cache_9006780.jpg" alt="" width="100%"></div>
                    <p class="page-text">Cpl Lewis Langwade and Sgt Ffion Mitchell attended an Air Cadet Blue wings course recently, flying in some of the recently refurbished ACO Viking Glider fleet.</p>
                </div>
                <div class="item">
                    <p class="page-text">Cadets from 348 Took part in a Field craft training day at Drum hill camp near Derby. sessions covered Camouflage techniques, Shelter building, observation tests and field cooking.</p>
                    <div class="image"><img src="https://www.348atc.co.uk/s/cc_images/cache_7267676.jpg?t=1510089202" alt="" width="100%"></div>
                </div>
                <div class="item">
                    <div class="image"><img src="https://www.348atc.co.uk/s/cc_images/teaserbox_7500429.jpg?t=1512478032" alt="" width="100%"></div>
                    <p class="page-text">Nineteen cadets and two staff joined staff and cadets from 2195 (Long eaton),1360 (Stapleford& Sandiacre) and 504 (West Nottingham) squadrons for a great weekend camp at the Mount Cooke Adventure training centre near Wirksworth. A busy weekend included orienteering, archery, map reading, bushcraft and a photgraphic Safari in Matlock as well as a talent show on the Saturday night after a slap up christmas dinner. All involved had a great time thanks to the organsing staff and catering team from 2195.</p>
                </div>
                <div class="item">
                    <p class="page-text">Recently cadets from 348 (Ilkeston) sqn, teamed up with cadets from 209 (West Bridgford) and 858 (Rushden) squadrons for a great weekend at Drum Hill Scout camp near Derby. Camping overnight, cadets studied and practiced various aspects of fieldcraft training, including, tactical movement, observation, bivvi building and of course camoufuage techniques. Catering was courtesy of MOD Ration packs which most people found quite tasty.</p>
                    <div class="image"><img src="https://www.348atc.co.uk/s/cc_images/cache_4634760.jpg?t=1492688021" alt=""></div>
                </div>
                <div class="item">
                    <div class="image"><img src="https://www.348atc.co.uk/previous-activities/riat-2017/#" alt="" width="100%"></div>
                    <p class="page-text">
                        F/Sgt Batson recently took F/S Nelson and Sgt Harris to RIAT (Royal International Air Tatoo) 2017 on a working holiday.
                        <br>
                        <br>
                        The ATC contingent carry out many tasks including teams for setting up and breaking down of the Tattoo in the weeks preceding and following the event as well as assistiing in the actual Tattoo days themselves. On event days, cadets assist in many areas including Radio communications.
                    </p>
                </div>
            </div>
        </div>
    </div>
</BaseLayout>