<footer>
    <div class="page-width">
        <div class="footer-content">
            <div class="column logo"><img src="images/squadron-crest.png" alt="Squadron Crest" width="100%"></div>
            <div class="column">
                <p class="address">
                    348 (Ilkeston) Squadron<br>
                    Air Training Corps<br>
                    The Cadet Centre<br>
                    Albert St<br>
                    Ilkeston<br>
                    Derbyshire<br>
                    DE7 5GU
                </p>
            </div>
            <div class="column split-logos">
                <img src="images/atc-crest.png" alt="ATC Crest" width="100%">
                <img src="images/wing-crest.png" alt="Wing Crest" width="100%">
            </div>
            <div class="column">
                <b class="heading">Useful Links</b>
                <a href="/" class="item">HOME</a>
                <a href="/who-we-are" class="item">WHO WE ARE</a>
                <a href="/what-we-do" class="item">WHAT WE DO</a>
            </div>
            <div class="column ">
                <b class="heading">Get in Touch</b>
                <a href="/contact-us" class="item">CONTACT US</a>
                <a href="/join-us" class="item">JOIN US</a>
            </div>
            <div class="column logo"><img src="images/rafac-branding.png" alt="RAFAC Branding Logo" width="100%"></div>
        </div>
        <div class="copyright"><p>© {new Date().getFullYear()} Pitfield Digital. All rights reserved.</p></div>
    </div>
</footer>