<header class="site-header">
    <div class="page-width">
        <div class="header-content">
            <div class="logo"><img src="/images/logo.png" alt="Client Logo"></div>
            <nav class="nav">
                <a href="" class="nav-link">LINK</a>
                <div class="nav-dropdown">
                    <span class="dropdown-title">DROPDOWN</span>
                    <div class="dropdown-content">
                        <a href="" class="nav-link">LINK</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>