<header>
    <div class="page-width header-content">
        <sidebar>
            <div class="tab-logo"><img src="https://pitfielddigital.github.io/348-ilkeston-air-cadets/images/rafac-branding.png" alt="RAFAC Branding Logo" width="100%"></div>
            <nav>
                <a href="/https://pitfielddigital.github.io/348-ilkeston-air-cadets/" class="item">HOME</a>
                <a href="/https://pitfielddigital.github.io/348-ilkeston-air-cadets/who-we-are" class="item">WHO WE ARE</a>
                <a href="/https://pitfielddigital.github.io/348-ilkeston-air-cadets/what-we-do" class="item">WHAT WE DO</a>
                <a href="/https://pitfielddigital.github.io/348-ilkeston-air-cadets/contact-us" class="item">CONTACT US</a>
                <a href="/https://pitfielddigital.github.io/348-ilkeston-air-cadets/join-us" class="item">JOIN US</a>
            </nav>
        </sidebar>
        <div class="logo"><img src="https://pitfielddigital.github.io/348-ilkeston-air-cadets/images/crest.png" alt="Squadron Crest" width="100%"></div>
        <input type="checkbox" class="shownav" id="shownav" style="display: none;">
        <label class="burger-menu" for="shownav">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </div>
</header>